In [17]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("Iris.csv")

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [12]:
df.drop('Id', inplace=True, axis=1)
# drop-anje kolone je dato kao parametar axis = 1

# df = df.drop(['Id'])

In [13]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
X = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = df['Species']

In [15]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [16]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [19]:
X_train.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
4              5.0           3.6            1.4           0.2
32             5.2           4.1            1.5           0.1
142            5.8           2.7            5.1           1.9
85             6.0           3.4            4.5           1.6
86             6.7           3.1            4.7           1.5

In [20]:
y_test

73     Iris-versicolor
18         Iris-setosa
118     Iris-virginica
78     Iris-versicolor
76     Iris-versicolor
31         Iris-setosa
64     Iris-versicolor
141     Iris-virginica
68     Iris-versicolor
82     Iris-versicolor
110     Iris-virginica
12         Iris-setosa
36         Iris-setosa
9          Iris-setosa
19         Iris-setosa
56     Iris-versicolor
104     Iris-virginica
69     Iris-versicolor
55     Iris-versicolor
132     Iris-virginica
29         Iris-setosa
127     Iris-virginica
26         Iris-setosa
128     Iris-virginica
131     Iris-virginica
145     Iris-virginica
108     Iris-virginica
143     Iris-virginica
45         Iris-setosa
30         Iris-setosa
22         Iris-setosa
15         Iris-setosa
65     Iris-versicolor
11         Iris-setosa
42         Iris-setosa
146     Iris-virginica
51     Iris-versicolor
27         Iris-setosa
Name: Species, dtype: object

In [5]:
df['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [7]:
clf = svm.SVC()

In [ ]:
param_grid = {'C': [0.1, 1, 10, 100, 1000],  
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001] 
              } 

# Svaki sa svakim se zove GridSearch
# RandomizedSearch

param_grid = {'C': [0.1, 1000],  
              'gamma': [1, 0.0001] 
              } 


C  = 9.2
gamma = 0.05

broj_iteracija = 1000

param_grid = {'C': [0.1, 1000],
              'gamma': [1, 0.0001] 
              } 

$C_i = 1 \\$
$gamma_i = 0.2 \\$
$accuracy_i = 0.74 \\$


$C_{i+1} = 75 \\$ 
$gamma_{i+1} = 1 \\$
$accuracy_{i+1} = 0.82 \\$


# Rezultat RandomizedSearcha
C  = 9.2
gamma = 0.05


# Pravimo novi grid
param_grid = {'C': [8.2, 8.3, .... , 9.2, 9.3, 9.4, ..., 10.2],  
              'gamma': [0.01, 0.02,.... 0.05, .. 0.1] 
              }

In [ ]:
skup_potencijalnih_rjesenja = [
    [c1, g1], [c2, g2], ..., [cn, gn]
]

LR 

koeficijente [a0, a1, a2,..., an]  # * [x0, x1, ..., xn]

hiperparametre [C, gamma, poly]


clf = svc.svm()
svm.

In [ ]:
import random as r


# Jedna cestica [C, gamma]
cestice = [
    [r.uniform(0.0, 100), r.uniform(0.0001, 1)] for i in range(1000)
]

najbolji_score = 0
najbolja_cestica = 0

cestice_najbolje = cestice
cestice_najbolje_score = [0 for i in range(1000)]

brzine = [[0, 0] for i in range(1000)]

for br_it in range(1000):
    for i in range(len(cestice)):

        i_ta_cestica = cestice[i]
        c_i = cestice[i][0]
        gamma_i = cestice[i][1]


        clf.fit(X=X_train, y=y_train, C=c_i, gamma = gamma_i)
        i_th_score = clf.score(X_test, y_test)

        if i_th_score > najbolji_score:
            najbolji_score = i_th_score
            najbolja_cestica = cestice[i]

        if  i_th_score > cestice_najbolje_score[i]:
            cestice_najbolje_score[i] = i_th_score
            cestice_najbolje[i] = cestice[i]

        drugi_sabirak = cestice_najbolje[i] - cestice[i]  
        treci_sabirak =  najbolja_cestica - cestice[i]

        c = 1
        r1 = r.uniform(0, 1)
        r2 = r.uniform(0, 1)

        brzine[i] = brzine[i] + c*r1*drugi_sabirak + c*r2*treci_sabirak
        cestice[i] = cestice[i] + brzine[i]



# for i in range(1000):
#     cestice.append([r.uniform(0.0, 100), r.uniform(0.0001, 1)])